/* Presentation-specific style overrides */

.slidev-presenter .grid-section.note {
    display: none !important;
}

.slidev-presenter .grid-container.layout1 {
    grid-template-columns: 3fr 2fr !important;
    grid-template-rows: minmax(0, 1fr) min-content !important;
    grid-template-areas:
        'main next'
        'bottom bottom' !important;
    width: 100vw;
    margin: 0;
    column-gap: 2rem;
}

.slidev-presenter .grid-container.layout1 .grid-section.next {
    max-width: 100%;
}

.slidev-presenter .grid-container.layout1 .grid-section.main,
.slidev-presenter .grid-container.layout1 .grid-section.next {
    width: auto !important;
}

.slidev-layout h1{
    margin-bottom: 2rem;
}

.task-structure-block {
    border-radius: 0.5rem;
    background: var(--shiki-color-background);
    overflow: hidden !important;
    scrollbar-width: none;
}

.task-structure-block::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.task-structure-block pre.shiki {
  margin: 0;
  padding: 0 !important;
  border-radius: 0 !important;
  background: transparent !important;
  white-space: pre-wrap;
  word-break: break-word;
}

.task-structure-block.slidev-code-wrapper {
    overflow: hidden !important;
}

.task-structure-block.slidev-code-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.task-structure-block pre.shiki code {
  display: block !important;
  padding: 1rem 1.25rem 1rem 1rem !important;
  box-sizing: border-box;
  white-space: pre-wrap;
  word-break: break-word;
}

.task-structure-block pre.shiki code > span.line {
  display: inline;
}
